*{
    border: none;
    border-radius: 0;
    font-family: ui-monospace;
    font-size: 12px;
    min-height: 0px;
    margin: 0px;
    padding: 2px;
    color: #98D1CE;
}

window#waybar {
    /*background: #000000;*/
    background: rgba(0, 0, 0, 0.7);
    color: gray;
    color: #ffffff;
}

#window {
    color: #e4e4e4;
    font-weight: bold;
}

#workspaces {
    padding: 0px;
    margin: 0px;
}

#workspaces button {
    padding: 0 5px;
    margin: 0px;
    background: transparent;
    color: #ff8700;
    /*
    color: #00afd7;
    color: #ffffff;
    border: 1px solid #00afd7;
    */
    border: 0px solid #1b1d1e;
    font-weight: lighter;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.active {
    background: #e88939;
    background: #394E4D;
    color: #1b1d1e;
}

#workspaces button.urgent {
    background: #af005f;
    color: #1b1d1e;
}

#mode {
    background: #af005f;
    color: #1b1d1e;
}
#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 3px;
    margin: 0 2px;
}

#clock {
}



@keyframes blink {
    to {
        background-color: #af005f;
    }
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#custom-alsa {
    padding: 0 20 0 20;
    margin: 2px 199px 2px 0;
}



#tray {
}
