[Unit]
Description=Set DNS for tun0
After=network-online.target
Requires=network-online.target
ConditionPathExists=/sys/class/net/tun0

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c 'for i in {1..10}; do ip link show tun0 && break || sleep 1; done; /usr/bin/resolvectl dns tun0 10.92.12.253'

[Install]
WantedBy=multi-user.target

